@charset "UTF-8";
bory {
    background-color: rgb(142, 142, 238);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: blue;
    background-color: aquamarine;
}

h2 {
    color: brown;
}

p {
    text-align: justify;
}