@charset "UTF-8";
/*
 em HTML é id = em CSS é # (só pode um elemento)
 em HTML é class = em CSS é . (pode varios elementos)
*/
body {
    background-color: rgb(179, 240, 187);
    font: Arial, Helvetica, sans-serif;
}

h1 {
    color: #2a7934;
}

#principal {
    text-align: center;
    background-color: #2f5534;
    color: white;
}

h2 {
    color: #2f5534;
}

.basico {
    color: #2a7934;

}

.intermediario {
    color: #705405;

}

.avancado {
    color: #640606;

}

.destaque {
    background-color: #8d7b4a;
}